* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: black;
}

.logo {
    margin: auto;
    width: 1140px;
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: black;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.menu ul,
.menu li {
    list-style: none;
}

.button {
    font-size: 15px;
    padding: 10px 30px;
    margin-top: 30px;
    font-weight: 600;
    border-radius: 30px;
    width: 150px;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 40px;
    background-color: rgb(26, 95, 26);

}

.menu ul {
    display: flex;
}

.menu .class a {
    border-bottom: 5px solid green;
}

.menu li a {
    text-decoration: none;
    padding: 0px 10px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    border-bottom: 5px solid rgb(0, 0, 0);
    height: 100px;
    justify-content: space-between;
}

.menu li a:hover {
    color: rgb(8, 104, 8);
    transition: 1s;
    border-bottom: 5px solid green;

}


.logo img {
    width: 150px;

}

.banner {
    background-image: url(/assets/imgs/icegif-1322.gif);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    overflow: hidden;

}

.banner .sliders {
    width: 1000vw;
    height: 100%;

}

.banner .slide {
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    display: inline-block;
}

.banner .slidea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    color: white;
    justify-content: center;

}

.banner h1 {
    font-weight: bold;
    font-size: 55px;
}

.banner span {
    color: rgb(29, 138, 29);
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}



.banner button {
    text-decoration: none;
    color: white;
}

.banner .slidersb {
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    position: absolute;
    margin-top: -50;
}

.banner .po {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(26, 95, 26);
    border-radius: 8px;
    margin: 0px 3px;

}

.po:nth-child(1) {
    background-color: rgb(17, 66, 17);

}

.default {
    padding: 50px 0px;
    width: 100vw;
}

.default .tittle,
.default .secdesc {
    text-align: center;
    font-weight: 600;

}

.default .secdesc {
    font-size: 12px;
    color: #ccc;
    margin-top: 6px;
    margin-bottom: 40px;

}

.default .tittle {
    font-size: 20px;
}

.default .secbody {
    margin: auto;
    max-width: 1140px;
}

.default.light {
    background-color: #f7f7f7;

}

.default.light .tittle,
.default.ligth .secbody {
    color: black;
}

.default.dark {
    background-color: black;
}

.default.dark .tittle,
.default.dark .secbody {
    color: white;
}

.neg {
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

.abturight img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}


.photo img {
    width: 200;
    height: 119.844;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.lists {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    justify-content: center;
}

.lists ul,
.list li {
    list-style: none;
}

.lists li {
    display: inline-block;
    padding: 10;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #eee;

}

.lists li:hover,
.lists .class {
    border-bottom: 3px solid green;
}


.lists li:first-child {
    border-left: none;
}

.secss {
    width: 100vw;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.secphoto {
    width: 280px;
}

.secpha {
    width: 260px;
    margin: 10px;
    height: 160px;
    position: relative;

}


.secpha img {
    width: inherit;
    height: inherit;


}

.photos img {
    width: 260;
}

.photoinfo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    opacity: 0;
    top: 0;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;

}

.teama {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    background-color: rgba(0, 0, 0, .05);
}

.bgteam {
    background-image: url(/assets/imgs/giphy.gif);
    background-size: cover;
    background-position: center;
    padding: 0;
}


.secteamarea {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0px;

}

.secteam {
    overflow: hidden;
    max-width: 880px;
    margin: auto;

}

.secteam .sliders {
    width: 1000vw;

}

.secteam .slide {
    width: 280px;
    min-height: 300px;
    background-color: white;
    display: inline-block;
    margin-right: 20px;
}

.secteam .slidea {
    display: flex;
    min-height: 300px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    color: black;
    justify-content: center;

}


.secteamarea .slidersb {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;

}

.secteamarea .po {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(26, 95, 26);
    border-radius: 8px;
    margin: 0px 3px;


}

.secteamarea .po:hover {
    background-color: white;
}

.secteam .social img {
    width: 20px;
}

.avatar {
    width: 200px;
    height: auto;
}

.sctn {
    font-weight: 600;
    font-size: 17;
    margin-top: 30px;

}

.sectrow {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.social {
    display: flex;
    margin-top: 20px;
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    margin-right: 5px;
    height: 20px;
}

.happyclients {
    background-color: #EDEDED;
}

.sl {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.sla {
    text-align: center;
    margin-top: 25px;
}

.joen {
    margin-top: 30px;
    line-height: 15px;
}

.asp {
    margin-top: 30px;
    width: 40px;
}

.sla p {
    margin-top: 20px;
    color: #4b4949;
}

.fbjp img {
    border-radius: 50%;
}


.sl .slidersb {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;

}

.sl .po {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(26, 95, 26);
    border-radius: 8px;
    margin: 0px 3px;


}

.sl .po:hover {
    background-color: black;
}

.imgsb {
    background-color: rgb(243, 235, 235);
    box-shadow: 5px 5px 5px 5px black;
    width: 100%;
}


.pricing {
    background-color: #EDEDED;
}

.imgs {
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content: center;
}


.imgs img {
    width: 200px;
    margin: 0px 10px;

}

.pric .slide {
    width: 280px;
    min-height: 300px;
    background-color: white;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pric .slidea {
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.pric .sliders {
    width: 1000vw;

}


.pric {
    display: flex;
    justify-content: center;
}

.pric .slidea a {
    background-color: #373737;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;

}

.pric .slidea .chbk {
    background-color: rgb(2, 66, 6);
}

.PRICING .secdesc {
    color: #333;
}

.seclr {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 3px solid rgb(112, 109, 109);


}

.alef {
}

.alef img {
    height: 380px;
}

.firstf {
    display: flex;
    align-items: center;
}

.firstf img {
    height: 24;

}

.pt {
    margin-top: 5px;
}

.hz {
    margin-top: 10px;
}

.SECF {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.secf img {
    height: 24;
}

.slidersl .slidersb {
    margin-top: 30px;
    justify-content: center;
    height: 20px;
    display: flex;

}

.slidersl .po {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(26, 95, 26);
    border-radius: 8px;
    margin: 0px 3px;


}
.slidersl .atc{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 151;
    align-items: center;
    display: flex;
    background-color: black;
    padding: 15px 20px;
    border-radius: 30px;


}

.slidersl a{
    color: white;
    text-decoration: none;
}

.slidersl .po:hover {
    background-color: black;
}

.sfacarea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desch{
    margin: 10px;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.des{
    margin-top: 10px;
}

.bordq{
    display: flex;
    justify-content: center;
}

.oneth h1{
    border-bottom: 3px solid green;
}


.tel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px 4px;
    
}

.tel p{
    font-size: 12px;
    color: #333;

}

.compart{

    justify-content: center;
    align-items: center;
     display: flex;
}

.compart img{   
    width: 40px;
    margin: 0px 9px;

}

.compart h2{
    margin-right: 40px;
}


.formc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.formarea{
    display: flex;
    flex-direction: column  ;
}

.formarea input{
    margin: 3px;
    border: none;
    border-bottom:1px solid #333;
    padding: 10px 30px;
    outline: none;
}

.formarea a{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 161px;
    align-items: center;
    display: flex;
    background-color: black;
    padding: 15px 20px;
    border-radius: 30px;
    text-decoration: none;
    

}

.formarea a:hover{
    border-bottom: 3px solid green;
}


.cscs{
    width: 100%;
}





.contaz .social img{
    width: 25px;
    height: 25px;
    margin: 0px 3px;
}

.contaz{
    max-width: 1140px;
    flex: 1;
    display: flex;
}

.contaza{
    flex: 1;
    display: flex;
}

.social{
    display: flex;
    justify-content: start;
}
.pzin{
    display: flex;
    align-items: end;

}

.texp{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.forms{
    width: 309px;
    height: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 40px 60px;
    background-color: #333;
}

.forms input{
    padding: 5px 10px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid white;
    background-color: #333;
    outline: none;
    margin-bottom: 15px;
}

.forms input::placeholder{
    color: white;
    font-size: 18px;
    text-align: center;
}

.forms a{
    margin-top: 10px;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    background-color: green;
}





/*
    CSS SPECIFC AREA
*/

.photoinfo h5 {
    font-size: 20px;

}


.photoinfo:hover {
    opacity: 1;
}

.secabtu {
    display: flex;
}

.abtuleft {
    flex: 1;
}

.abturight {
    width: 520px;
    text-align: center;

}

.abtuleft p {
    font-size: 14px;
    line-height: 25px;
}

.neg {
    text-align: center;
}

.secbody .negc {
    display: flex;

}

.texts {
    margin-top: 10px;
}

.neg .texts p {
    margin-top: 4px;
}

.texts h1 {
    font-size: 25;
    font-weight: 600;
}

.neg div {
    margin: 5px 15px 0px 15px;
}

.texts p {
    font-size: 15px;
}